// menu Button

.menu-btn {
    position: absolute;
    z-index: 3;
    right: 35px;
    top: 35px;
    cursor: pointer;
    @include easeOut();

    .btn-line {
        width: 28px;
        height: 3px;
        margin-bottom: 5px;
        background: #fff;
    }

    &.close {
        transform: rotate(180deg);

        .btn-line {
            &:nth-child(1) {
                transform: rotate(45deg) translate(5px, 5px);
            }

            &:nth-child(2) {
                display: none;
            }

            &:nth-child(3) {
                transform: rotate(-45deg) translate(7px, -6px);

            }
        }
    }
}

.menu {
    width: 100%;
    position: fixed;
    visibility: hidden;
    opacity: .8;

    &.show {
        visibility: visible;
    }



    &-branding,
    &-nav {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 50%;
        float: left;
        height: 100vh;
        transform: translate3d(0, -100%, 0);
        @include easeOut();





        .nav-item {
            margin: 0;
            padding: 0;
            list-style: none;
            transform: translateX(100rem);
            @include easeOut();
            margin-bottom: 1.3rem;

            &.current {
                border-bottom: 2px solid yellow;
            }


            &.show {
                transform: translateX(0);
            }


            .nav-link {
                text-decoration: none;
                font-size: 2rem;
                font-weight: bold;
                letter-spacing: .1rem;
                text-transform: uppercase;

                &:hover {
                    color: yellow;
                }
            }
        }

    }

    &-branding {
        background: darken($primary-color, 2);
        transform: translate3d(0, 100%, 0);
        @include easeOut();

        .protrait {
            width: 250px;
            height: 250px;
            background: url('https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500') no-repeat center center / cover;
            border: solid 2px yellow;
            border-radius: 50%;

        }

        &.show {
            transform: translate3d(0, 0, 0);
        }

    }

    &-nav {
        margin: 0;
        padding: 0;
        background: darken($primary-color, 5);

        &.show {
            transform: translate3d(0, 0, 0);
        }
    }
}

@for $x from 1 through 4 {
    .nav-item:nth-child(#{$x}) {
        transition-delay: $x * .1s;
    }
}